services:
  postgres:
    image: postgres:15
    container_name: postgres_db
    environment:
      POSTGRES_DB: app_db
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
    ports:
      - "5432:5432"
    networks:
      - app-network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U user -d app_db"]
      interval: 10s
      timeout: 5s
      retries: 5

  auth-api:
    build:
      context: ./ServiceA
      dockerfile: Dockerfile
    container_name: auth_api
    ports:
      - "8080:8080"
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/app_db
      SPRING_DATASOURCE_USERNAME: user
      SPRING_DATASOURCE_PASSWORD: password
      SERVICE_B_URL: http://data-api:8081
      INTERNAL_API_TOKEN: secret-key-123
      JWT_SECRET: my-super-secret-key-for-jwt-token-generation-minimum-256-bits
    depends_on:
      postgres:
        condition: service_healthy
      data-api:
        condition: service_started
    networks:
      - app-network

  data-api:
    build:
      context: ./ServiceB
      dockerfile: Dockerfile
    container_name: data_api
    environment:
      INTERNAL_API_TOKEN: secret-key-123
    networks:
      - app-network

networks:
  app-network:
    driver: bridge